<app-fruits></app-fruits>
<div class="container">
  <div class="row">
    <button class="btn btn-success" (click)="toggleLeft()">ToggleLeftDisplay</button>
    <button class="btn btn-primary" (click)="toggleRight()">ToggerRightDisplay</button>
  </div>
</div>
<div class="row">
  <!-- <div class="col col-xs-5" [hidden]="leftEnabled"> -->
    <div class="col col-xs-5" *ngIf="leftEnabled">
    <app-data-entry (numberChanged)="changedNumber($event)"></app-data-entry>
  </div>
  <!-- <div class="col col-xd-5" [hidden]="!rightEnabled"> -->
    <div class="col col-xd-5" *ngIf="rightEnabled">
    <app-data-display [numberInput]="updatedNumber"></app-data-display>
  </div>
</div>
<!-- <app-data-entry (numberChanged)="changedNumber($event)"></app-data-entry> -->
<!-- <app-data-display [numberInput]="updatedNumber"></app-data-display> -->