
<!-- <h1>{{title}}</h1>
<p>{{fruit}}</p> -->
<p>fruits works!</p>
<input type="text" [value]="fullName">
<!-- <p [style.font-size]="fontSize">{{fruit}}</p>
<p [style.font-weight]="fontWeight" [style.font-size]="fontSize">{{fruit}}</p> -->

<table class="table table-primary">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let fruit of fruits |slice:1:3; let i = index">
            <td>{{i+1}}</td>
            <td>{{fruit.name | titlecase}}</td>

            <td>{{fruit.quantity| number:'1.1-3'}}</td>
        </tr>
    </tbody>
</table>
<button class="btn btn-success" (click)="testClick()">Test</button>


